.intro{
    background-color: white ;
    display: flex;


    .left{
        flex: 1;
        overflow: hidden;
        
        .imgContainer{
            width: 500px;
            height: 500px;
            background-color:crimson;
            border-radius: 50%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            float: right ;

            img{
                width: 100%;

            }
        }
    }

    .right{
        flex: 2;
        position: relative;

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1{
                font-size: 60px;
                margin: 10px 0;
            }
            h2{
                font-size: 35px;

            }
            h3{
                font-size: 25px;

                span{
                    font-size: inherit;
                    color: crimson;

                }
            }
        }

        a{
            position: absolute;
            bottom: 10px;
            left: 20%;
            img{
                width: 30px;
                animation: arrowBlink 2s infinite;

                @keyframes arrowBlink{
                    100%{
                        opacity: 0;
                    }
                }

            }
        }
        
    }
}